PORT=3000
MONGO_URI=your_mongodb_atlas_uri

CLOUD=aws
AWS_REGION=your_aws_region
AWS_SQS_QUEUE_URL=your_sqs_queue_url

STORAGE_PROVIDER=azure

AZURE_STORAGE_ACCOUNT=your_account_name
AZURE_STORAGE_KEY=your_account_key
AZURE_CONTAINER=name_container